<body>
  <h1>Skate Park</h1>

  <div class="py-4">
    <h2>Administración</h2>
    <hr class="w-50" />

    {{> tableAdmin
    skaters=skaters
    }}

    <a href="http://localhost:3000/"><button class="btn-dark mb-3">Aceptar</button></a>

  </div>
</body>