<h1>Skate Park</h1>

<div class="py-4">
  <h2>Lista de participantes</h2>
  <hr />
  {{> table
  usuarios=usuarios
  }}
  <a href="/login">Iniciar Sesión</a>
  |
  <a href="/registro">Registrarme</a>
</div>